/* Base CSS */
html{
    font-size: 10px;
}

/* Default CSS */
body{
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
}

/* Hyperlinks */
a{
    text-decoration: none;
}

/* Navbar */
#navbar{
    background-color: #CFABFF;
    border-bottom: 2px solid;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

/* Navbar Logo */
#navbar-logo{
    font: 3rem Righteous, cursive;
    width: 150px;
    margin: auto auto auto 5px;
    text-align: center;
}

/* Navbar Links */
#navbar-links{
    font-size: 2rem;
    width: 150px;
    margin: auto 15px auto auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Navbar Link Color */
#navbar-logo a, #navbar-links a{
    color: #273746;
    transition: 0.3s;    
}

/* Navbar Link Color on Hover */
#navbar-logo a:hover, #navbar-links a:hover{
    color: #0049FF;
}

/* Welcome Section */
#welcome-section{
    background-color: #CAFAFE;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* Welcome Section division */
#welcome-section div{
    background-color: #FC4445;
    color: #17202A;
    width: 70%;
    margin: auto;
    padding: 30px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}

/* Hello Paragraph */
#welcome-hello{
    font-size: 3rem;
}

/* Name Title */
#welcome-name{
    font: 4rem Righteous, cursive;
    margin: -5px auto;
}

/* Intro Paragraph */
#welcome-intro{
    font-size: 2rem;
}

/* About Section */
#about-section{
    background-color: #FF652F;
    color: #272727;
    border-top: 2px solid;
    text-align: center;
}

/* About Section Title */
#about-title{
    font-size: 3rem;
    margin-top: 80px;
}

/* About Section Division */
#about-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* About Section Intro */
#about-intro{
    background-color: #82E0AA;
    width: 80%;
    margin: 5px auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
}

/* About Section Skills */
#about-skills{
    background-color: #F5B7B1;
    width: 80%;
    margin: 50px auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
}

/* About Section Intro Subtitles */
#about-intro h3, #about-skills h3{
    font-size: 2rem;
}

/* About Section Intro Paragraphs */
#about-intro p, #about-skills p{
    font-size: 1.5rem;
}

/* About Section Skills Layout */
#about-langs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/* About Section Skills Images */
.skills-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Projects Section */
#projects{
    background-color: #E64398;
    color: #272727;
    border-top: 2px solid;
    text-align: center;
}

/* Projects Section Title */
#projects-title{
    font-size: 3rem;
    margin-top: 80px;
}

/* Projects Section Container */
#projects-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/* Projects Section Tile Without Hover */
.project-tile{
    background-color: #A1C3D1;
    border: 3px solid #272727;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
    transition: 0.3s;
}

/* Projects Section Tile On Hover */
.project-tile:hover{
    background-color: #F0EBF4;
}

/* Projects Section Images */
.projects-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

/* Projects Section Subtitles */
#projects-container h3{
    font-size: 2rem;
    color: #273746;
}

/* Footer */
#footer{
    background-color: #F8E9A1;
    color: #272727;
    border-top: 2px solid;
    padding: 30px 0;
    text-align: center;
}

/* Footer Titile */
#footer h2{
    font-size: 3rem;
}

/* Footer Link Image Without Hover */
#footer img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: 0.3s;
}

/* Footer Link Image On Hover */
#footer img:hover{
    width: 70px;
    height: 70px;
    opacity: 0.6;
}