/* Base CSS */
html{
    font-size: 10px;
}

/* Default CSS */
body{
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
}

/* Hyperlinks */
a{
    text-decoration: none;
}

/* Navbar */
#navbar{
    background-color: #CFABFF;
    border-bottom: 2px solid;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

/* Navbar Logo */
#navbar-logo{
    font: 3rem Righteous, cursive;
    width: 150px;
    margin: auto auto auto 5px;
    text-align: center;
}

/* Navbar Links */
#navbar-links{
    font-size: 2rem;
    width: 150px;
    margin: auto 15px auto auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Navbar Link Color */
#navbar-logo a, #navbar-links a{
    color: #273746;
    transition: 0.3s;    
}

/* Navbar Link Color on Hover */
#navbar-logo a:hover, #navbar-links a:hover{
    color: #0049FF;
}

/* Welcome Section */
#welcome-section{
    background-color: #CAFAFE;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* Welcome section division */
#welcome-section div{
    background-color: #FC4445;
    color: #17202A;
    width: 70%;
    margin: auto;
    padding: 30px;
    text-align: center;
    border: 2px solid;
}

/* Hello Paragraph */
#welcome-hello{
    font-size: 3rem;
}

/* Name Title */
#welcome-name{
    font: 4rem Righteous, cursive;
    margin: -5px auto;
}

/* Intro Paragraph */
#welcome-intro{
    font-size: 2rem;
}